.job-lists{
    .delete-user{
        color: rgb(250, 104, 104);
        cursor: pointer;
        font-size: 30px;
        font-weight: 600;
    }
    .delete-user:hover{
        color:rgb(165, 4, 4);
    }
}