.list-user-container {
    .title {
        font-size     : 35px;
        padding-bottom: 15px;
        color         : hotpink;
    }

    .list-user-content {
        .child {
            cursor     : pointer;
            border     : 1px solid gray;
            width      : 300px;
            margin     : 0 auto;
            line-height: 40px;

        }
    }
}